body {
    background-color: rgb(102, 107, 167);
    color: #570568;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #8d00a0;
    text-transform: uppercase;
    font-weight: bold;
}
#bingo-board {
    background-color: darkslategrey;
    display: inline-block;
    border-style: solid;
    border-color: black;
    padding: 10px;
    width: 80%;
}

.number {
    background-color: pink;
    color: darkviolet;
    display: inline-block;
    padding: 10px;
    width: 5%;
    height: 32px;
    border-style: solid;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.marked {
    background-color: red;
}